
<div class="row">

	<div class="col-xs-6">
		<img src="cat-umbrella.jpg" class="img-thumbnail" width="140" height="140" />
		<h1>{{player.name}}</h1>
		<p>Health: {{player.hp}}</p>
	</div>

	<div class="col-xs-6">
		<img src="deer-hitler.jpg" class="img-thumbnail" width="140" height="140" />
		<h1>{{monster.name}}</h1>
		<p>Health: {{monster.hp}}</p>
	</div>

</div>

<div class="row">

	<div class="col-xs-1">
	Letters:
</div>
	<div class="col-xs-11">
	<span ng-repeat="letter in letters track by $index" style="font-size:large;">{{letter | uppercase }}</span>
</div>

	</div>



<div class="row">
  <div class="col-xs-1">Word:</div> 
  <div class="col-xs-5">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" ng-model="player.word" id="word">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="playerAttack($event)">Attack!</button>
      </span>
    </div>
  </div>
</div>

